@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #fdfdfd;
  --main-black: #17181d;
  --primary: #bdaf60;
  --secondary-black: #1b1d22;
  --secondary: #202f38;
}

body {
  background: var(--main-black);
  color: var(--main-white);
}

.deco::before {
  content: "";
  position: absolute;
  right: 0;
  height: 200%;
  width: 200%;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 100px #17181d;
}
.deco-izquierda::before {
  right: -56px;
}
.deco-bottom::before {
  top: -40px;
}
.deco-bottom-izquierda::before {
  right: -40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito-sans);
}

p,
span,
a,
div,
li {
  font-family: var(--font-inter);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SWIPER HERO PAGINA PRINCIPAL*/

.swiper-button-prev,
.swiper-button-next {
  top: 30px !important;
  color: #fdfdfd !important;
  box-shadow: 0 4px 6px -1px transparent;
  backdrop-filter: blur(4px);
  width: 44px !important;
  height: 44px;
  border-radius: 50%;
  background: #1a1a1a;
  border: 1px solid #fdfdfd54;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.swiper-button-prev {
  right: 56px !important;
  left: auto !important;
}
.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 1px solid #fdfdfdcb;
  box-shadow: 0 4px 6px -1px #18191a93;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: relative;
  font-size: 14px !important;
}
.swiper-button-prev:after {
  left: -2px !important;
}
.swiper-button-next:after {
  left: 2px !important;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 40px !important;
    background: #1a1a1ab9;
  }
  .swiper-button-next {
    right: 16px !important;
  }
  .swiper-button-prev {
    right: 76px !important;
  }
}
@media (min-width: 1280px) {
  .swiper-button-next {
    right: 32px !important;
  }
  .swiper-button-prev {
    right: 92px !important;
  }
}

/*ESTILOS SWIPER PAGINACION HERO MAIN PAGE*/
.swiper-pagination {
  width: fit-content !important;
  left: auto !important;
  right: 0px !important;
  align-items: center;
  gap: 8px;
  bottom: 0px !important;
  height: fit-content;
}
.swiper-pagination-bullet {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #e4e6eb !important;
  width: 40px !important;
  border-radius: 6px !important;
  height: 4px !important;
}

.swiper-pagination-bullet:hover {
  background: var(--primary) !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
  position: relative;
}
.swiper-pagination-bullet-active:hover {
  background: var(--primary) !important;
  opacity: 1;
}

@media (min-width: 1024px) {
  .swiper-pagination-bullet {
    width: 60px !important;
  }
}
/*ESTILOS DROPDOWN NAVEGACION DESKTOP*/

/*listados sin titulos*/
.noTitle {
  span:first-child {
    @apply hidden;
  }
  ul {
    @apply mt-0;
  }
}
/*listados sin imagenes*/
.li-itemListado div,
.li-textList div {
  display: none;
}

/*imagenes Circulares grandes*/
.gridCircleImageLarge {
  @apply grid grid-cols-2 gap-8 w-fit;
}

.li-gridCircleImageLarge {
  @apply flex flex-col gap-2 items-center;
}

.li-gridCircleImageLarge {
  @apply max-w-[80px] xl:max-w-[96px];
  div {
    @apply w-20 h-20 overflow-hidden rounded-full border-4 border-secondary xl:w-24 xl:h-24;
  }
  span {
    @apply text-center;
  }
}

/*imagenes Circulares pequeñas*/
.li-circleImageListLarge {
  @apply flex items-center gap-2 py-2 border-b border-secondary/50 last:border-transparent;
  div {
    @apply w-10 h-10 rounded-full overflow-hidden border-2 border-secondary xl:w-12 xl:h-12;
  }
}

/*imagenes rectangulares horizontales*/
.halfMarketingImage {
  @apply w-full flex flex-col gap-8;
}

.li-halfMarketingImage,
.li-fullMarketingImage {
  span {
    @apply absolute bottom-4 left-0 w-full text-center uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base;
  }
}

.li-halfMarketingImage {
  @apply relative max-w-[300px];
  div {
    @apply w-full h-28 xl:h-40;
  }
}

/*imagenes rectangulares horizontales dos*/
.li-thirdMarketingImage {
  @apply relative flex items-center;
  div {
    @apply w-full;
  }
  span {
    @apply absolute left-0 uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base;
  }
}

/*imagenes rectangulares verticales*/
.li-fullMarketingImage {
  div {
    @apply w-full;
  }
}

.li-halfMarketingImage,
.li-fullMarketingImage,
.li-thirdMarketingImage,
.li-imageCardsWithDescriptionLarge {
  div {
    @apply rounded-md overflow-hidden border-4 border-secondary;
  }
}

/*imagenes rectangulares con descripcion*/
.li-imageCardsWithDescriptionLarge {
  @apply w-full relative;
  div {
    @apply rounded-md overflow-hidden w-full;
  }
  span:first-of-type {
    @apply absolute left-0 bottom-0 text-center w-full uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base;
  }
}

/*Images con after dark and light*/
.halfMarketingImage .dark,
.fullMarketingImage .dark,
.halfMarketingImage .light,
.fullMarketingImage .light,
.imageCardsWithDescriptionLarge .light,
.imageCardsWithDescriptionLarge .dark {
  @apply relative after:absolute after:inset-0 after:bg-gradient-to-t  after:to-55% overflow-hidden rounded-md after:to-transparent;
  span:first-of-type {
    @apply z-[2];
  }
}
.halfMarketingImage .dark,
.fullMarketingImage .dark,
.thirdMarketingImage .dark,
.imageCardsWithDescriptionLarge .dark {
  @apply after:from-main-white;
  span:first-of-type {
    @apply text-main-black;
  }
}
.halfMarketingImage .light,
.fullMarketingImage .light,
.thirdMarketingImage .light,
.imageCardsWithDescriptionLarge .light {
  @apply after:from-main-black;
}

/*ESTILOS CATEGORIAS NAV MOBILE*/

/*Imagebackground*/
.imageBackground {
  @apply relative flex items-center;
  span {
    @apply absolute left-1 font-bold uppercase max-w-[60%] z-[2];
  }
  div {
    @apply w-full relative after:inset-0 after:absolute after:bg-main-black/10;
  }
}
.imageBackground .dark {
  @apply text-main-black;
}
.imageBackground .noTitle {
  @apply hidden;
}

/*circleImageList*/

.circleImageList {
  @apply flex items-center gap-2 py-1 border-b-secondary last-of-type:border-b-transparent  rounded-md transition-[background-color];
  div {
    @apply w-12 h-12 rounded-full border border-secondary;
  }
  span {
    @apply text-xs;
  }
}
.circleImageList:hover {
  @apply bg-main-black;
  div {
    @apply border-primary;
  }
  span {
    @apply text-primary;
  }
}

/*circleImageRight*/

.circleImageRight {
  @apply flex flex-row-reverse bg-main-black p-2 rounded-md overflow-hidden justify-between items-center;
  div {
    @apply w-16 h-16 rounded-full border border-transparent;
  }
  span {
    @apply max-w-[60%] font-semibold uppercase;
  }
}
.circleImageRight:hover {
  @apply bg-primary;
  div {
    @apply border-main-black;
  }
  span {
    @apply text-main-black;
  }
}

/*aToZBrands*/

.aToZBrands {
  span {
    @apply w-full text-center py-2 rounded-md relative max-w-full  block flex-1 line-clamp-1 bg-primary text-base text-main-black font-bold normal-case;
  }
  div {
    @apply hidden;
  }
}

/*ESTILOS PARA LA SCROLLBAR*/

::-webkit-scrollbar {
  width: 16px;
}

ul::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-black);
}

ul::-webkit-scrollbar-track {
  background: var(--main-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

ul::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
