@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #fdfdfd;
  --main-black: #17181d;
  --primary: #bdaf60;
  --secondary-black: #1b1d22;
  --secondary: #202f38;
}

body {
  background: var(--main-black);
  color: var(--main-white);
}

.deco::before {
  content: "";
  position: absolute;
  right: 0;
  height: 200%;
  width: 200%;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 100px #17181d;
}
.deco-izquierda::before {
  right: -56px;
}
.deco-bottom::before {
  top: -40px;
}
.deco-bottom-izquierda::before {
  right: -40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito-sans);
}

p,
span,
a,
div,
li {
  font-family: var(--font-inter);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SWIPER HERO PAGINA PRINCIPAL*/

.swiper-button-prev,
.swiper-button-next {
  top: 30px !important;
  color: #fdfdfd !important;
  box-shadow: 0 4px 6px -1px transparent;
  backdrop-filter: blur(4px);
  width: 44px !important;
  height: 44px;
  border-radius: 50%;
  background: #1a1a1a;
  border: 1px solid #fdfdfd54;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.swiper-button-prev {
  right: 56px !important;
  left: auto !important;
}
.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 1px solid #fdfdfdcb;
  box-shadow: 0 4px 6px -1px #18191a93;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: relative;
  font-size: 14px !important;
}
.swiper-button-prev:after {
  left: -2px !important;
}
.swiper-button-next:after {
  left: 2px !important;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 40px !important;
    background: #1a1a1ab9;
  }
  .swiper-button-next {
    right: 16px !important;
  }
  .swiper-button-prev {
    right: 76px !important;
  }
}
@media (min-width: 1280px) {
  .swiper-button-next {
    right: 32px !important;
  }
  .swiper-button-prev {
    right: 92px !important;
  }
}

/*ESTILOS SWIPER PAGINACION HERO MAIN PAGE*/
.swiper-pagination {
  width: fit-content !important;
  left: auto !important;
  right: 0px !important;
  align-items: center;
  gap: 8px;
  bottom: 0px !important;
  height: fit-content;
}
.swiper-pagination-bullet {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #e4e6eb !important;
  width: 40px !important;
  border-radius: 6px !important;
  height: 4px !important;
}

.swiper-pagination-bullet:hover {
  background: var(--primary) !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
  position: relative;
}
.swiper-pagination-bullet-active:hover {
  background: var(--primary) !important;
  opacity: 1;
}

@media (min-width: 1024px) {
  .swiper-pagination-bullet {
    width: 60px !important;
  }
}

/*ESTILOS SWIPER PAGINACION HERO TIENDAS*/

.swiper-tienda .swiper-pagination {
  right: 8px !important;
}

.swiper-tienda .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: var(--main-black) !important;
}
.swiper-tienda .swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

@media (min-width: 1240px) {
  .swiper-tienda .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
}

/*ESTILOS DROPDOWN NAVEGACION DESKTOP*/

/*listados sin titulos*/
.noTitle {
  span:first-child {
    @apply hidden;
  }
  ul {
    @apply mt-0;
  }
}
/*listados sin imagenes*/
.li-itemListado div,
.li-textList div {
  display: none;
}

.li-itemListado,
.li-textList {
  @apply inline-block py-[2px] pl-1 w-full transition-all bg-gradient-to-r to-transparent via-transparent via-50% from-main-black from-10% bg-size-200 bg-pos-100 hover:bg-pos-0 cursor-pointer;
}
.li-itemListado:hover,
.li-textList:hover {
  span {
    @apply text-primary transition-colors;
  }
}

/*imagenes Circulares grandes*/
.gridCircleImageLarge {
  @apply grid grid-cols-2 gap-4 w-full justify-items-center;
}

.li-gridCircleImageLarge {
  @apply w-fit flex flex-col gap-2 items-center p-1 xl:p-2 h-full rounded-md transition-[background-color];
  div {
    @apply w-20 h-20 overflow-hidden rounded-full border border-secondary xl:w-24 xl:h-24 transition-[border-color];
  }
  span {
    @apply text-center max-w-20 xl:max-w-24 transition-[text-color];
  }
}

.li-gridCircleImageLarge:hover {
  @apply bg-main-black;
  span {
    @apply text-primary;
  }
  div {
    @apply border-primary;
  }
}

/*imagenes Circulares pequeñas*/
.li-circleImageListLarge {
  @apply flex items-center gap-2 py-2 px-1 transition-all bg-gradient-to-r to-transparent via-transparent via-50% from-main-black from-10% bg-size-200 bg-pos-100 hover:bg-pos-0 cursor-pointer rounded-md;
  div {
    @apply w-10 h-10 rounded-full overflow-hidden border border-secondary xl:w-12 xl:h-12 transition-[border-color];
  }
  span {
    @apply transition-[text-color];
  }
}
.li-circleImageListLarge:hover {
  span {
    @apply text-primary;
  }
  div {
    @apply border-primary;
  }
}

/*imagenes rectangulares horizontales*/
.halfMarketingImage {
  @apply w-full flex flex-col gap-8;
}

.li-halfMarketingImage,
.li-fullMarketingImage {
  span {
    @apply absolute bottom-4 left-0 w-full text-center uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base;
  }
}

.li-halfMarketingImage {
  @apply relative max-w-[300px];
  div {
    @apply w-full h-28 xl:h-40;
  }
}

/*imagenes rectangulares horizontales dos*/
.li-thirdMarketingImage {
  @apply relative flex items-center after:absolute after:inset-0 after:bg-gradient-to-r after:rounded-md min-h-16;
  div {
    @apply w-full;
  }
  span {
    @apply absolute left-0 uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base z-[2];
  }
}

.li-thirdMarketingImage:hover {
  @apply after:opacity-100;
}

/*imagenes rectangulares verticales*/
.li-fullMarketingImage {
  div {
    @apply w-full;
  }
}

.li-halfMarketingImage,
.li-fullMarketingImage,
.li-thirdMarketingImage,
.li-imageCardsWithDescriptionLarge {
  div {
    @apply rounded-md overflow-hidden border border-secondary transition-[border-color];
  }
}

.li-halfMarketingImage:hover,
.li-fullMarketingImage:hover,
.li-thirdMarketingImage:hover,
.li-imageCardsWithDescriptionLarge:hover {
  div {
    @apply border-primary;
  }
}

/*imagenes rectangulares con descripcion*/
.li-imageCardsWithDescriptionLarge {
  @apply w-full relative;
  div {
    @apply rounded-md overflow-hidden w-full;
  }
  span:first-of-type {
    @apply absolute left-0 bottom-0 text-center w-full uppercase px-4 font-nunito-sans font-bold text-sm xl:text-base;
  }
}

/*Images con after dark and light*/
.li-halfMarketingImage.dark,
.li-fullMarketingImage.dark,
.li-halfMarketingImage.light,
.li-fullMarketingImage.light,
.li-imageCardsWithDescriptionLarge.light,
.li-imageCardsWithDescriptionLarge.dark {
  @apply relative after:absolute after:inset-0 after:bg-gradient-to-t after:rounded-md after:to-55% overflow-hidden rounded-md after:to-transparent;
  span:first-of-type {
    @apply z-[2];
  }
}
.li-halfMarketingImage.dark,
.li-fullMarketingImage.dark,
.li-thirdMarketingImage.dark,
.li-imageCardsWithDescriptionLarge.dark {
  @apply after:from-main-white after:transition-all;
  span:first-of-type {
    @apply text-main-black;
  }
}
.li-halfMarketingImage:hover.dark,
.li-fullMarketingImage:hover.dark,
.li-thirdMarketingImage:hover.dark,
.li-imageCardsWithDescriptionLarge:hover.dark {
  @apply after:from-primary;
}

.li-halfMarketingImage.light,
.li-fullMarketingImage.light,
.li-thirdMarketingImage.light,
.li-imageCardsWithDescriptionLarge.light {
  @apply after:from-main-black after:rounded-md after:transition-all;
}

.li-halfMarketingImage:hover.light,
.li-fullMarketingImage:hover.light,
.li-thirdMarketingImage:hover.light,
.li-imageCardsWithDescriptionLarge:hover.light {
  @apply after:from-primary;
  span:first-of-type {
    @apply text-main-black;
  }
}

/*ESTILOS CATEGORIAS NAV MOBILE*/

/*Imagebackground*/
.imageBackground {
  @apply relative flex items-center;
  span {
    @apply absolute left-1 font-bold uppercase max-w-[60%] z-[2];
  }
  div {
    @apply w-full relative after:inset-0 after:absolute after:bg-main-black/10;
  }
}
.imageBackground.dark {
  @apply text-main-black;
}
.imageBackground .noTitle {
  @apply hidden;
}

/*circleImageList*/

.circleImageList {
  @apply flex items-center gap-2 py-1 border-b-secondary last-of-type:border-b-transparent  rounded-md transition-[background-color];
  div {
    @apply w-12 h-12 rounded-full border border-secondary;
  }
  span {
    @apply text-xs;
  }
}
.circleImageList:hover {
  @apply bg-main-black;
  div {
    @apply border-primary;
  }
  span {
    @apply text-primary;
  }
}

/*circleImageRight*/

.circleImageRight {
  @apply flex flex-row-reverse bg-main-black p-2 rounded-md overflow-hidden justify-between items-center;
  div {
    @apply w-16 h-16 rounded-full border border-transparent;
  }
  span {
    @apply max-w-[60%] font-semibold uppercase;
  }
}
.circleImageRight:hover {
  @apply bg-primary;
  div {
    @apply border-main-black;
  }
  span {
    @apply text-main-black;
  }
}

/*aToZBrands*/

.aToZBrands {
  span {
    @apply w-full text-center py-2 rounded-md relative max-w-full  block flex-1 line-clamp-1 bg-primary text-base text-main-black font-bold normal-case;
  }
  div {
    @apply hidden;
  }
}

/*ESTILOS PARA LA SCROLLBAR*/

::-webkit-scrollbar {
  width: 16px;
}

ul::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-black);
}

ul::-webkit-scrollbar-track {
  background: var(--main-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

ul::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/*SWIPER DETALLE PRODUCTO*/
.swiper-detalle-producto {
  .swiper-button-next,
  .swiper-button-prev {
    @apply bg-main-white/50 !text-main-black !w-8 !h-8 !font-bold;
  }
  .swiper-button-next {
    @apply !right-4;
  }
}

@media (min-width: 768px) {
  .swiper-detalle-producto {
    .swiper-button-prev {
      @apply !right-14;
    }
  }
}

.swiper-scrollbar-horizontal {
  @apply !w-full !h-1 !bg-secondary-black !bottom-0 !absolute !left-0;
  .swiper-scrollbar-drag {
    @apply !bg-primary !h-1 !rounded-md;
  }
}
.swiper-scrollbar-vertical {
  @apply !h-full !w-1 !bg-secondary-black !top-0 !absolute !left-0;
  .swiper-scrollbar-drag {
    @apply !bg-primary !w-1 !rounded-md;
  }
}

/*DETALLE SUBINFO*/

.sub-info-activo {
  @apply text-sm;
  ul {
    @apply mt-2 list-inside list-disc flex flex-col gap-1;
  }
}
