@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #fdfdfd;
  --main-black: #0e0e10;
  --primary: #a5e1cd;
  --secondary-black: #1a1a1a;
  --accent: #a1a28e;
}

body {
  background: var(--main-black);
  color: var(--main-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito-sans);
}

p,
span,
a,
div,
li {
  font-family: var(--font-inter);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
